@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<hi>hat funktioniert. Auf employee/index</hi>

<table class="table table-dark table-striped table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>Vorname</th>
            <th>Nachname</th>
        </tr>
    </thead>

    <tbody>
        @{
            foreach(Employee employee in ViewBag.Employees)
            {
                <tr>
                    <td>
                        @employee.Id
                    </td>
                    <td>
                        @employee.Firstname                   
                    </td>
                    <td>
                        @employee.Lastname
                    </td>
                </tr>
            }
        }

    </tbody>
</table>